<h1 style="font-weight:bold;text-align:center"> Bank Telemarketing Marketing Campaign </h1>

***

<p style="text-align:center;font-weight:600">&emsp;Sean Kristian Anderson&emsp;||&emsp;Davis Sebastian&emsp;</p>
<p style="text-align:center;">DTIDS-0206 Final Project by Alpha Team</p>

***

<p style="font-weight:500">Table Of Contents</p>

1. [Business Problem Understanding](#business-problem-understanding)       
    1.1. [Background](#background)
2. [Data Understanding](#data-understanding)       
    2.1. [Attribute Information](#attribute-information)      
    2.2. [Descriptive Statistics](#descriptive-statistics)     
3. [Data Preprocessing](#data-preprocessing)       
    3.1. [Duplicated Values](#duplicated-values)      
    3.2. [Missing Values](#missing-values)     
    3.3. [Outliers](#outliers)       
4. [Exploratory Data Analysis (EDA)](#exploratory-data-analysis-eda)
5. [Feature Engineering](#feature-engineering)
6. [Methodology (Modeling & Analysis)](#methodology)        
    6.1. [Modeling](#modeling)
7. [Conclusion and Recommendation](#conclusion-and-recommendation)        
    7.1. [Conclusion](#conclusion)     
    7.2. [Recommendation](#recommendation)     



Tableau:

Slide Presentation: <a href src="https://www.canva.com/design/DAGeScCufiI/OtTsdTuXp_rSrNaKOxwcsQ/edit?utm_content=DAGeScCufiI&utm_campaign=designshare&utm_medium=link2&utm_source=sharebutton">Click Here</a>

## Business Problem Understanding

### Background

#### Import Libraries

In [ ]:
# Library
import pandas as pd
import numpy as np
import pickle

# Visualization
import matplotlib.pyplot as plt
import seaborn as sns
from IPython.display import display

# Feature Engineering
from sklearn.pipeline import Pipeline
from sklearn.impute import SimpleImputer
from sklearn.feature_selection import RFE
from sklearn.preprocessing import OneHotEncoder, LabelEncoder, OrdinalEncoder, RobustScaler, KBinsDiscretizer, FunctionTransformer, StandardScaler, MinMaxScaler
from sklearn.compose import ColumnTransformer
import category_encoders as ce
from sklearn.decomposition import PCA

# Model Selection
from sklearn import metrics
from xgboost import XGBClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.neighbors import KNeighborsClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import classification_report, confusion_matrix, ConfusionMatrixDisplay, f1_score, accuracy_score, recall_score, precision_score, roc_curve, roc_auc_score
from sklearn.model_selection import GridSearchCV,StratifiedKFold,train_test_split, cross_val_score, RandomizedSearchCV

# Imbalance Dataset
from imblearn.pipeline import Pipeline
from imblearn.under_sampling import RandomUnderSampler
from imblearn.over_sampling import RandomOverSampler, SMOTE, ADASYN
from imblearn.ensemble import BalancedRandomForestClassifier

# GCP
import os
from google.cloud import bigquery, storage, aiplatform

# Ignore Warning
import sys
import warnings
if not sys.warnoptions:
    warnings.simplefilter("ignore")

# Set max columns
pd.set_option('display.max_columns', 1000, "max_colwidth", 1000, 'display.width', 1000, 'display.max_rows',1000)

## Data Understanding

### Attribute Information

<p style="font-weight:500">Attribute Related to Bank Client Data</p>

| Attribute | Data Type | Description | Expected Values |
| --- | --- | --- | --- |
| age | Integer | Age of users |
| job | Text (Categorical) | Type of Job | "admin.","blue-collar","entrepreneur","housemaid","management","retired","self-employed","services","student","technician","unemployed","unknown" |
| marital | Text (Categorical) | Marital status of users | "divorced","married","single","unknown" |
| education | Text (Categorical) | Education of users | "basic.4y","basic.6y","basic.9y","high.school","illiterate","professional.course","university.degree","unknown" |
| default | Text (Categorical) | Has Credit in default? | "no","yes","unknown" |
| housing | Text (Categorical) | Has Housing Loan? | "no","yes","unknown" |
| loan | Text (Categorical) | Has Personal Loan? | "no","yes","unknown" |

<p style="font-weight:500">Attribute Related to Last Contact</p>

| Attribute | Data Type | Description | Expected Values |
| --- | --- | --- | --- |
| contact | Text (Categorical) | Last contact communication type | "cellular","telephone" |
| month | Text (Categorical) | Last contact month of year | "jan", "feb", "mar", "apr", "may", "june", "july", "aug", "sept", "oct", "nov", "dec" |
| day_of_week | Text (Categorical) | Last contact day of week | "mon","tue","wed","thu","fri" | 
| duration | Integer | Last contact duration |

Important note: this attribute highly affects the output target (e.g., if duration=0 then y="no"). Yet, the duration is not known before a call is performed. Also, after the end of the call y is obviously known. Thus, this input should only be included for benchmark purposes and should be discarded if the intention is to have a realistic predictive model.

<p style="font-weight:500">Other Attribute</p>

| Attribute | Data Type | Description | Expected Values |
| --- | --- | --- | --- |
| campaign | Integer | Number of contacts performed during this campaign and for this client |
| pdays | Integer | Number of days passed after the client was last contacted from previous campaign |
| previous | Integer | Number of contacts performed before this campaign and for this client |
| poutcome | Text (Categorical) | Outcome of the previous marketing campaign | "failure","nonexistent","success" |

<p style="font-weight:500">Attribute Related to Social and Economic Contexts</p>

| Attribute | Data Type | Description |
| --- | --- | --- |
| emp.var.rate | Float | Employment variation rate |
| cons.price.idx | Float | Consumer price index |
| cons.conf.idx | Float | Consumer confidence index |
| euribor3m | Float | Euribor 3 month rate - daily indicator |
| nr.employed | Float | Number of employees - quarterly indicator |


Missing Attribute Values: There are several missing values in some categorical attributes, all coded with the "unknown" label. These missing values can be treated as a possible class label or using deletion or imputation techniques.

<p style="font-weight:500">Other</p>

| Attribute | Data Type | Description | Expected Values |
| --- | --- | --- | --- | 
| y | Text (Categorical) | Subscribed a term deposit (output) | "yes", "no" |

### Descriptive Statistics

## Data Preprocessing

### Duplicated Values

### Missing Values

### Outliers

## Exploratory Data Analysis (EDA)

## Feature Engineering

## Methodology

### Modeling

### Analysis

## Conclusion and Recommendation

### Conclusion

### Recommendation

# Sketch

In [1]:
import numpy as np
import pandas as pd
pd.set_option('display.max_columns', 1000, "max_colwidth", 1000, 'display.width', 1000, 'display.max_rows',1000)

In [3]:
data = pd.read_csv("../Dataset/bank-additional-full.csv", sep=";")

data.head()

   age        job  marital    education  default housing loan    contact month day_of_week  duration  campaign  pdays  previous     poutcome  emp.var.rate  cons.price.idx  cons.conf.idx  euribor3m  nr.employed   y
0   56  housemaid  married     basic.4y       no      no   no  telephone   may         mon       261         1    999         0  nonexistent           1.1          93.994          -36.4      4.857       5191.0  no
1   57   services  married  high.school  unknown      no   no  telephone   may         mon       149         1    999         0  nonexistent           1.1          93.994          -36.4      4.857       5191.0  no
2   37   services  married  high.school       no     yes   no  telephone   may         mon       226         1    999         0  nonexistent           1.1          93.994          -36.4      4.857       5191.0  no
3   40     admin.  married     basic.6y       no      no   no  telephone   may         mon       151         1    999         0  nonexistent           1.1          93.994          -36.4      4.857       5191.0  no
4   56   services  married  high.school       no      no  yes  telephone   may         mon       307         1    999         0  nonexistent           1.1          93.994          -36.4      4.857       5191.0  no

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 41188 entries, 0 to 41187
Data columns (total 21 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   age             41188 non-null  int64
 1   job             41188 non-null  object
 2   marital         41188 non-null  object
 3   education       41188 non-null  object
 4   default         41188 non-null  object
 5   housing         41188 non-null  object
 6   loan            41188 non-null  object
 7   contact         41188 non-null  object
 8   month           41188 non-null  object
 9   day_of_week     41188 non-null  object
 10  duration        41188 non-null  int64
 11  campaign        41188 non-null  int64
 12  pdays           41188 non-null  int64
 13  previous        41188 non-null  int64
 14  poutcome        41188 non-null  object
 15  emp.var.rate    41188 non-null  float64
 16  cons.price.idx  41188 non-null  float64
 17  cons.conf.idx   41188 non-null  float64
 18  euribor3m       41188 non-null  float64
 19  nr.employed     41188 non-null  float64
 20  y               41188 non-null  object
dtypes: float64(5), int64(5), object(11)
memory usage: 6.6+ MB

In [120]:
categorical = data.select_dtypes(include='object')

pd.DataFrame({
    'Columns': categorical.columns,
    'Record Count': [categorical[col].count() for col in categorical.columns],
    'Unique Record Count': [categorical[col].nunique() for col in categorical.columns],
    'Unique Records': [categorical[col].unique() for col in categorical.columns],
})

        Columns  Record Count  Unique Record Count                                                                                                                          Unique Records
0           job         41188                   12  [housemaid, services, admin., blue-collar, technician, retired, management, unemployed, self-employed, unknown, entrepreneur, student]
1       marital         41188                    4                                                                                                    [married, single, divorced, unknown]
2     education         41188                    8                                [basic.4y, high.school, basic.6y, basic.9y, professional.course, unknown, university.degree, illiterate]
3       default         41188                    3                                                                                                                      [no, unknown, yes]
4       housing         41188                    3                                                                                                                      [no, yes, unknown]
5          loan         41188                    3                                                                                                                      [no, yes, unknown]
6       contact         41188                    2                                                                                                                   [telephone, cellular]
7         month         41188                   10                                                                                      [may, jun, jul, aug, oct, nov, dec, mar, apr, sep]
8   day_of_week         41188                    5                                                                                                               [mon, tue, wed, thu, fri]
9      poutcome         41188                    3                                                                                                         [nonexistent, failure, success]
10            y         41188                    2                                                                                                                               [no, yes]

In [121]:
unknown_count_df = pd.DataFrame({
    'Columns': categorical.columns,
    'Unknown Record Count': [(categorical[col] == 'unknown').sum() for col in categorical.columns],
    "% of Unknown Record": [
        ((categorical[col] == 'unknown').sum() / categorical[col].count()) * 100 for col in categorical.columns]
})

unknown_count_df[unknown_count_df['Unknown Record Count'] > 0]

     Columns  Unknown Record Count  % of Unknown Record
0        job                   330             0.801204
1    marital                    80             0.194231
2  education                  1731             4.202680
3    default                  8597            20.872584
4    housing                   990             2.403613
5       loan                   990             2.403613

In [122]:
numerical = data.select_dtypes(include='number')

numerical.describe()

               age      duration      campaign         pdays      previous  emp.var.rate  cons.price.idx  cons.conf.idx     euribor3m   nr.employed
count  41188.00000  41188.000000  41188.000000  41188.000000  41188.000000  41188.000000    41188.000000   41188.000000  41188.000000  41188.000000
mean      40.02406    258.285010      2.567593    962.475454      0.172963      0.081886       93.575664     -40.502600      3.621291   5167.035911
std       10.42125    259.279249      2.770014    186.910907      0.494901      1.570960        0.578840       4.628198      1.734447     72.251528
min       17.00000      0.000000      1.000000      0.000000      0.000000     -3.400000       92.201000     -50.800000      0.634000   4963.600000
25%       32.00000    102.000000      1.000000    999.000000      0.000000     -1.800000       93.075000     -42.700000      1.344000   5099.100000
50%       38.00000    180.000000      2.000000    999.000000      0.000000      1.100000       93.749000     -41.800000      4.857000   5191.000000
75%       47.00000    319.000000      3.000000    999.000000      0.000000      1.400000       93.994000     -36.400000      4.961000   5228.100000
max       98.00000   4918.000000     56.000000    999.000000      7.000000      1.400000       94.767000     -26.900000      5.045000   5228.100000

In [151]:
copy = data.copy()

copy['y'] = copy['y'].apply(lambda x: 1 if x == "yes" else 0)

In [152]:
copy['y'].value_counts()

y
0    36548
1     4640
Name: count, dtype: int64

In [153]:
import statsmodels.api as sm

y = copy['y']
X = copy.select_dtypes(include='number').drop(columns='y', axis=1)
X = sm.add_constant(X)

reg_log = sm.Logit(y, X)
result_log = reg_log.fit()

Optimization terminated successfully.
         Current function value: 0.219921
         Iterations 8

In [154]:
result_log.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                           Logit Regression Results
==============================================================================
Dep. Variable:                      y   No. Observations:                41188
Model:                          Logit   Df Residuals:                    41177
Method:                           MLE   Df Model:                           10
Date:                Thu, 06 Feb 2025   Pseudo R-squ.:                  0.3753
Time:                        18:58:21   Log-Likelihood:                -9058.1
converged:                       True   LL-Null:                       -14499.
Covariance Type:            nonrobust   LLR p-value:                     0.000
==================================================================================
                     coef    std err          z      P>|z|      [0.025      0.975]
----------------------------------------------------------------------------------
const            -22.8233     15.647     -1.459      0.145     -53.491       7.845
age                0.0018      0.002      1.134      0.257      -0.001       0.005
duration           0.0046   7.17e-05     63.508      0.000       0.004       0.005
campaign          -0.0411      0.011     -3.612      0.000      -0.063      -0.019
pdays             -0.0019   8.44e-05    -22.256      0.000      -0.002      -0.002
previous          -0.2595      0.038     -6.851      0.000      -0.334      -0.185
emp.var.rate      -0.6386      0.068     -9.454      0.000      -0.771      -0.506
cons.price.idx     0.6206      0.100      6.221      0.000       0.425       0.816
cons.conf.idx      0.0304      0.006      5.175      0.000       0.019       0.042
euribor3m          0.0867      0.085      1.024      0.306      -0.079       0.253
nr.employed       -0.0071      0.001     -4.876      0.000      -0.010      -0.004
==================================================================================
"""